html {
    font-size: 62.5%;
}
.banner-1{
    background-image: url(../resources/Banner.png);
    width: 1320px;
    height: 600px;
    background-position: center;
    font-family: 'Merriweather', serif;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    
}

.banner-1 > h3 {
    font-weight: 400;
    font-size: 3.2rem;
    margin: 0;
}
.banner-1 > h1 {
    font-weight: 900;
    font-size: 7.2rem;
    margin: 0;
}
.offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 0 auto;
}
.offer > h1 {
    color: #F00;
    font-size: 8.8rem;
    font-weight: 700;
    margin-top: 6.5rem;
    margin-bottom: 2rem;
}
.offer > p {
    color: #F00;
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}
.offer > h3 {
    color: #070211;
    font-size: 4.8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 2rem 0;
}

.banner-2 {
    width: 1320px;
    height: 600px;
    position: relative;
    background: url(../resources/Vectorrr.png);
    background-position: center;
    font-family: 'Merriweather', serif;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 8rem auto;

}
.newyear {
    position: relative;
    top: 150px;
    right: -350px;

}
.banner-2 > article {
    position: relative;
    top: -300px;
    right: 300px;
    text-align: left;
    font-size: 1.8rem;
    font-weight: 400;
}
.banner-2 > article > h1 {
    font-family: 'Merriweather', sans-serif;
    font-size: 6.4rem;
    font-weight: 900;
    margin-bottom: 0;
    letter-spacing: 8px;
}
.banner-2 > article > p, a {
    font-family: 'Inter', serif;
} 
.banner-2 > article > a {
    color: #FFF;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 5rem;
}

.venue {
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 3.2rem;
    font-weight: 600;
    
}
.venue > p> span {
    color: #F00;
}
.venue > button > a {
    text-decoration: none;
    color: #FFF;
    background-color: #F00;
    padding: 16px 32px;
    border-radius: 5%;
    font-size: 2rem;
    font-weight: 700;



}
.venue > button{
    border-radius: 5%;
    border: 0;
    margin-top: 5rem;

}
.venue > p{
    margin: 1rem;
}
.venue .place {
    margin-top: 10rem;
}
.container {
    display: flex;
    flex-direction: row;
    width: 1320px;
    height: 463px;
    margin: 10px auto;
}
.container .box1 h4{
    font-family: 'Inter', sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    color: #F00;

}
.container .box1 h2{
    font-family: 'Merriweather', serif;
    font-size: 4.8rem;
    font-weight: 900;
    color: #070211;

}
.container .box1 p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */

}
.container .box2 img {
    border: 8px solid #F00;
    border-radius: 50%;
    padding: 25px;
}
.container .box3 {
    margin-left: 10rem;
}
.container .box3 h2 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.container .box3 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
.sale {
    text-align: center;
    font-style: normal;
    line-height: normal;
    margin: 0 auto;
    width: 1320px;
    height: 986px;
    position: relative;
}
.sale article h3 {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    margin-top: 10rem;
}
.sale article h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin: 0;
}
.sale article h1 span {
    color: #F00;
}
.sale article p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
}
.sale .sale-smile {
    float: right;
    
}
.sale::after {
    content: url(../resources/group75.png);
    display: inline-block;
    position: absolute;
    top: 300px;
    right: 550px;
    
}
.sale::before {
    content: url(../resources/group44.png);
    display: inline-block;
    position: absolute;
    top: 350px;
    right: 280px;
    
}
/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */

